node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

logs/
*.log
logs/**/*.log
*.out
*.pid
*.gz

db
*.sqlite
*.db
dump.sql

.tmp/
.cache/
dist/
.DS_Store
Thumbs.db

docker-compose.override.yml
.dockerignore

coverage/
*.lcov

build/
